.ct-header {
    @include displayFlex();
    width: 100vw;
    height: 180px;
    background-color: $colorSecondary;
    justify-content: space-between;
}

.img-logo {
    filter: $filterPrincipal;
    width: 50%;
    margin-left: 20%;
}

.txtColor1 {
    font-size: 1.5rem;
    color: $colorPrincipal;
    text-decoration: none;
    margin-right: 5%;
    margin-top: 10px;
}

.txtColor2 {
    font-size: 1.5rem;
    color: rgb(62, 3, 65);
    text-decoration: none;
    margin-right: 5%;
    margin-top: 10px;
}

.txt-title {
    color: bla;
    margin: 5px 0px 0px 92px;    
}
